@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

* {
    font-family: 'Open Sans';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* Navbar secction  */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    border-top: 15px solid rgb(3, 44, 137);
}

.logo {
    color: rgb(3, 44, 137);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(3, 44, 137);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}

.nav-links a:hover {
    color: rgb(161, 159, 159);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(3, 44, 137);
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 844px) {

    .nav-links {
        width: 50%;
    }
}

/* mobile setup  */

@media screen and (max-width: 768px) {

    body,
    html {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(255, 255, 255);
        display: none;
        flex-direction: column;
        align-items: center;
        width: 50%;
        /* transform: translateX(100%);
        use this for aper from de right os screen
        and use display flex
        */
        transition: transform 0.5s ease-in;

    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .nav-links li:hover {
        background-color: rgb(255, 255, 255);
    }

}

.nav-active {
    /* transform: translateX(0%); 
    use this for aper from de right os screen
    and erease displas flex
    */
    display: flex;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* nav bar seccion end */
/* seccion inicio */
.head-banner {
    width: 100%;
    /* height: 700px; */
    background-color: rgb(42, 170, 234);
    text-align: center;
    display: inline-block;
}


.head-banner a {
    color: rgb(104, 104, 104);
}

.head-banner i {
    margin-top: 10%;
}


.head-title-1 {
    font-size: 10vw;
    color: rgb(255, 255, 255);
}

.head-title-2 {
    font-size: 14vw;
    color: rgb(255, 255, 255);
}

/* seccion nosotros */
.how-section {
    width: 100%;
    /* height: 650px; */
}

/* seccion sobre-nosotros */
.we-section-how {
    text-align: center;
    width: 100%;
    margin-top: 5%;
}

.we-section-how h2 {
    color: rgb(42, 170, 234);
    font-size: 2em;
}

.we-section-how p {
    color: rgb(104, 104, 104);
    font-size: 1em;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

/* seccion vision / mision */
#vmcontenedor {
    overflow: hidden;
}

.we-section-vm {
    width: 100%;
    /* height: 400px; */
    background-color: rgb(3, 44, 137);
}

.column {
    width: 50%;
    /* height: 300px; */
    float: left;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 5%;
}

.column h2 {
    margin-top: 5%;
    font-size: 2em;
    margin-bottom: 3%;
}

.column p {
    font-size: 1em;
    margin-left: 20%;
    margin-right: 20%
}

.row:after {
    content: "";
    display: table;
    clear: left;
}


/* seccion productos */

.product-cs {
    text-align: center;
    width: 100%;
}

.product-cs h2 {
    color: rgb(42, 170, 234);
    font-size: 2em;
    margin-top: 5%;
    margin-bottom: 3%;
}

.column3 h3 {
    color: rgb(3, 44, 137);
    margin-bottom: 4%;
}

.column3 p {
    color: rgb(104, 104, 104);
    margin-left: 10%;
    margin-right: 10%;
}

.column3 {
    width: 33.33%;
    float: left;
}

.column3 img {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: left;
}


#pro-contenedor {
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%
    }

    .column3 {
        width: 100%;
    }
}